<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

<bean id="httpClient" class="org.apache.http.impl.client.DefaultHttpClient"/>

<bean id="database" class="com.github.rnewson.couchdb.lucene.Database">
  <property name="httpClient" ref="httpClient"/>
</bean>

<bean id="config" class="com.github.rnewson.couchdb.lucene.spring.CouchDBConfigBean">
  <property name="database" ref="database"/>
</bean>

<bean id="indexingTask" class="com.github.rnewson.couchdb.lucene.IndexingTask">
  <property name="config" ref="config"/>
  <property name="database" ref="database"/>
</bean>

<bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
    <property name="period" value="30000" />
    <property name="timerTask" ref="indexingTask" />
</bean>

<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
    <property name="scheduledTimerTasks">
        <list>
            <ref bean="scheduledTask" />
        </list>
    </property>
</bean>

</beans>
